@{
    ViewData["Title"] = "SQLicious";
}

<nav class="navbar-navbar">
    <!-- The menu items -->
    <div id="navbars">
        <ul class="navbar-nav">
            <li class="nav-items">
                <a href="https://localhost:5174" class="nav-links" href="@Url.Action("book", "Home")">Boka Bord</a>
            </li>
            <li class="nav-items">
                <a class="nav-links" href="@Url.Action("Menu", "Home")">Vår Meny</a>
            </li>
            <li class="nav-items">
                <a href="https://localhost:5174/gallery" class="nav-links" href="@Url.Action("gallery", "Home")">Galleri</a>
            </li>
            <li class="nav-items">
                <a class="nav-links" href="@Url.Action("openinghours", "Home")">Öppettider</a>
            </li>
            <li class="nav-items">
                <a href="https://localhost:5174/about" class="nav-links" href="@Url.Action("about", "Home")">Om oss</a>
            </li>
            <li class="nav-items">
                <a class="nav-links" href="@Url.Action("Admin", "Home")">Logga in</a>
            </li>
        </ul>
        <br />
        <img src="~/assets/restaurant.jpg" alt="Restaurant-Picture" class="splash-image" />
    </div>
</nav>

